
.todo--input--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    background-color: var(--card-color);
    border-radius: 5px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border: 1px solid var(--border-color);
}
.input--field {
  height: 100%;
  width: 85%;
  font-size: 18px;
  border: none;
  background: none;
  text-align: left;
  color: var(--font-color);
  font-size: 18px;
  font-family: 'Josefin sans';
}
.checkbox {
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}
@media(max-width: 900px){
  .input--field {
    font-size: 12px;
  }
  
  
}