
.todo--input--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    background-color: var(--card-color);
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--border-color);
}
.input--field {
  width: 85%;
  font-size: 18px;
  border: none;
  background: none;
  text-align: left;
  margin-left: 15px;
  color: var(--font-color);
  font-family: 'Josefin sans';
}
